declare -x MC_CREATE_USER="y"
declare -x MC_DAEMON_ID="1"
declare -x MC_DAEMON_IP="{{ inventory_hostname }}"
declare -x MC_DB_HOST="{{ inventory_hostname }}"
declare -x MC_DB_NAME="multicraft_demon"
declare -x MC_DB_PASS="{{ demon_pass }}"
declare -x MC_DB_TYPE="mysql"
declare -x MC_DB_USER="multicraft_demon"
declare -x MC_DIR="/home/minecraft/multicraft"
declare -x MC_FTP_IP="{{ inventory_hostname }}"
declare -x MC_FTP_PORT="21"
declare -x MC_FTP_SERVER="y"
declare -x MC_KEY="{{ mc_key }}"
declare -x MC_LOCAL="y"
declare -x MC_MULTIUSER="y"
declare -x MC_PLUGINS="n"
declare -x MC_USER="minecraft"
declare -x MC_WEB_DIR="/var/www/html/multicraft"
declare -x MC_WEB_USER="apache"
